<% provide(:title, "Edit Recipe") %>

<div class="form-group">
  <%= form_tag(recipe_path, method: :patch) do %>
  <div class="col-md-12">
    <h1>Edit <%=@recipe.title%></h1>
    <%= text_field_tag "recipe_form[title]", @recipe.title, placeholder: "Title of Recipe", class: "form-control" %>

    <%= text_field_tag "recipe_form[servings]", @recipe.servings, placeholder: "Number of Servings", class: "form-control" %>

    <%= text_area_tag "recipe_form[description]", @recipe.description, placeholder: "Short Description", class: "form-control" %>
  </div>

  <div class="table-responsive">
    <table class="col-md-12 table-condensed">
      <% @usages.each do |usage| %>
      <tr>
        <td class="col-md-3">
          <%= check_box_tag "recipe_form[usages][#{usage.ingredient_id}][checked]", "true", true %>
          <%= label_tag "recipe_form[usages]", Ingredient.find(usage.ingredient_id).name %>
        </td>
        <td class="col-md-3">
          <%= number_field_tag "recipe_form[usages][#{usage.ingredient_id}][amount]", usage.amount %>
        </td>
        <td class="col-md-3">
          <%= text_field_tag "recipe_form[usages][#{usage.ingredient_id}][unit]", usage.unit, placeholder: "unit of measurement" %>
        </td>
        <td class="col-md-3">
          <%= text_field_tag "recipe_form[usages][#{usage.ingredient_id}][format]", usage.format, placeholder: "prep (e.g. chopped)" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="table-responsive">
    <table class="col-md-12 table condensed">
      <% @unused_ingredients.each do |ingredient| %>
      <tr>
        <td class="col-md-3">
          <%= check_box_tag "recipe_form[usages][#{ingredient.id}][checked]", true %>
          <%= label_tag "recipe_form[usages]", ingredient.name %>
        </td>
        <td class="col-md-3">
          <%= number_field_tag "recipe_form[usages][#{ingredient.id}][amount]", 0 %>
        </td>
        <td class="col-md-3">
          <%= text_field_tag "recipe_form[usages][#{ingredient.id}][unit]", nil, placeholder: "unit of measurement" %>
        </td>
        <td class="col-md-3">
          <%= text_field_tag "recipe_form[usages][#{ingredient.id}][format]", nil, placeholder: "prep (e.g. chopped)" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-12">
    <%= text_area_tag "recipe_form[preparation]", @recipe.preparation, placeholder: "Directions (Step 1, Step 2..)", class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= submit_tag "Update Recipe", class: "form-control submit" %>
  </div>

  <% end %>
</div>

<!-- FIND A WAY TO DO THIS AND REDIRECT WITHOUT LOSING CONTENT ON THE PAGE? -->
<hr>
<div class="col-md-12">
  <h1>Add ingredient</h1>
  <%=form_for @ingredient do |f| %>
  <%=f.text_field :name, placeholder: "Name of Ingredient", class: "form-control"%>
  <%=f.text_area :description, placeholder: "Description of Ingredient", class: "form-control" %>
  <%= f.submit "Add Ingredient", class: "form-control submit"%>
<% end %>
</div>
