<% provide(:title, "Create Recipe") %>
<table>
  <tbody>
    <tr>
      <td>
      <%= form_tag recipes_path do %>
        <%= text_field_tag "recipe_form[title]", nil, placeholder: "Title of Recipe"%>
        <%= text_field_tag "recipe_form[servings]", nil, placeholder: "Number of Servings" %>
        <%= text_area_tag "recipe_form[description]", nil, placeholder: "Short Description" %>
        <%= text_area_tag "recipe_form[preparation]", nil, placeholder: "Directions" %>
      <td>
    </tr>
    <% Ingredient.all.each do |ingredient| %>
    <tr>
      <td>
        <%= check_box_tag "recipe_form[usages][][ingredient_id]", ingredient.id %>
        <%= label_tag "recipe_form[usages]", ingredient.name %>

        <%= label_tag "recipe_form[usages]", "amount:" %>
        <%= text_field_tag "recipe_form[usages][][amount]" %>

        <%= label_tag "recipe_form[usages]", "unit:" %>
        <%= text_field_tag "recipe_form[usages][][unit]" %>

        <%= label_tag "recipe_form[usages]", "format:" %>
        <%= text_field_tag "recipe_form[usages][][format]" %>
      </td>
  </tr>
    <% end %>
    <tr>
    <td>
      <%= submit_tag %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<table>
  <tr>
    <td>
    Add Ingredient(s):
    <%= form_tag recipes_path do %>
      <%= text_field_tag "recipe_form[ingredient[name]]", nil, placeholder: "Ingredient Name"%>
      <%= text_field_tag "recipe_form[ingredient[description]]", nil, placeholder: "Ingredient Description"%>
  </td>
  </tr>
  <tr>

  </tr>
    <% end %>
  </tbody>
</table>
