<% provide(:title, @recipe.title) %>

<table>
  <tr>
    <td><%= @recipe.title %></td>
    <td><%= @recipe.servings %> Servings</td>
    <td><%= @recipe.description %></td>
  </tr>
</table>

INGREDIENTS
<table>
  <tr>
    <td>
      <% @usages.each do |usage| %>
        <%= usage.ingredient.name %>:
    </td>
    <td><%= usage.amount %></td>
    <td><%= usage.unit %>,</td>
    <td><%= usage.format %></td>
    <td><%= button_to "Remove Ingredient", delete_usage_path(id:usage.id), method: :delete %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <td><%= @recipe.preparation %></td>
</table>

<div>
  <%= link_to "Edit", edit_recipe_path(id:@recipe.id) %>
  <%= button_to "Delete", delete_recipe_path(id:@recipe.id), method: :delete %>
</div>
