<% provide(:title, @recipe.title) %>

<h1><%= @recipe.title %></h1>
<h3>Servings:</h3>
<div class="details">Feeds <%= @recipe.servings %> Robots.</div>
<h3>Recipe Description:</h3>
<div class="details"><%= @recipe.description %></div>


<h2>Ingredients</h2>
  <% @usages.each do |usage| %>
  <div class="ingredient-list">
    <%= usage.amount %>
    <%= usage.unit %> of
    <span class="ingredient-name"><%= usage.ingredient.name %></span>
    <%= usage.format %>
  </div>
<% end %>


<h2>Directions</h2>
<%= @recipe.preparation %>


<div class="links">
  <%= link_to "Edit #{@recipe.title}", edit_recipe_path(id:@recipe.id), class: "form-control submit" %>
  <%= button_to "Delete #{@recipe.title}", delete_recipe_path(id:@recipe.id), method: :delete, class: "form-control delete" %>
</div>
