<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Computer Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
</head>
<header class="header">
  <nav>
    <%=link_to "Recipes", recipes_path %>
    <%=link_to "Search" %>
    <%=link_to "Login" %>
  </nav>
</header>
<body>

<%= yield %>

<footer>
  <div class="tagline">
    Because real food is overrated.
  </div>
</footer>
</body>
</html>
